body {
    scroll-behavior: smooth;
}

a {
    color: red;
    display: flex;
    justify-content: center;
    font-size: 10vw;
    margin-top: 30vw;
}

a:hover {
    text-decoration: none;
    color: yellow;
    background-color: darkblue;
    cursor: crosshair;
}

::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: red;
}

::-webkit-scrollbar
{
	width: 15px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: black;
}

img {
    margin-left:37vw;
}